body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('information.jpg');
    background-size: cover;
}

.card {
    background-color: rgba(193, 188, 188, 0.559); /* Blanc avec 80% d'opacité */
    padding: 20px;
    border-radius: 10px;
    border: 3px #187498 solid;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3e8e41;
}
